@page "/rxstore"
@inject RxStore<AppState, AppReducer> Store

<h3>RxStore Example</h3>
<p>Message: @_state.Message</p>
<button @onclick="SetNewMessage">Set New Message</button>

@code {
  
  private AppState _state;
  private IDisposable _subscription;

  protected override void OnInitialized()
  {
    _subscription = Store.State.Subscribe(s =>
    {
      _state = s;
      InvokeAsync(StateHasChanged);
    });
  }

  private void SetNewMessage()
    => Store.Dispatch(new SetMessage("New message from Blazor!"));

  public void Dispose()
    => _subscription.Dispose();

}