@page "/counter"
@inherits RxComponentBase<CounterState, CounterReducer>

<h3>Counter</h3>

<div style="display: flex;">
  <button @onclick="Decrement">Decrement</button>
  <div style="margin: 0 10px;">Current Count: @_count</div>
  <button @onclick="Increment">Increment</button>
</div>

<button @onclick="Reset">Reset Counter</button>

@code {

  private int _count;

  protected override async Task OnInitializedAsync()
  {
    _count = await SubscribeToStateAsync(state => state.Count, nameof(_count));
  }

  private void Increment()
    => Dispatch(new Increment());

  private void Decrement()
    => Dispatch(new Decrement());

  private void Reset()
    => Dispatch(new Reset());

}