@page "/timer"
@inherits RxComponentBase<TimerState, TimerReducer>

<h3>Timer</h3>

<div>
  <div>Time: @_time seconds</div>
  <button @onclick="ToggleTimer">
    @(_isRunning ? "Stop" : "Start")
  </button>
  <button @onclick="Reset">Reset</button>
</div>

@code {

  private int _time;
  private bool _isRunning;
  private System.Timers.Timer? _timer;

  protected override void OnInitialized()
  {
    SubscribeToState(state => state.Time, _time);
    SubscribeToState(state => state.IsRunning, _isRunning);
    
    if (_isRunning)
    {
      StartTimer();
    }
  }

  private void StartTimer()
  {
    if (_timer == null)
    {
      _timer = new System.Timers.Timer(1000);
      _timer.Elapsed += OnTimerElapsed;
      _timer.Start();
    }
  }

  private void StopTimer()
  {
    if (_timer != null)
    {
      _timer.Stop();
      _timer.Elapsed -= OnTimerElapsed;
      _timer.Dispose();
      _timer = null;
    }
  }

  private async void OnTimerElapsed(object? sender, System.Timers.ElapsedEventArgs e)
  {
    await InvokeAsync(() => Dispatch(new Tick()));
  }

  private void ToggleTimer()
  {
    if (_isRunning)
    {
      Dispatch(new StopTimer());
      StopTimer();
    }
    else
    {
      Dispatch(new StartTimer());
      StartTimer();
    }
  }

  private void Reset()
  {
    Dispatch(new ResetTimer());
    StopTimer();
    _time = 0;
  }

}
