@page "/movies"
@inherits RxComponentBase<MovieState>

<h3>Movies from the 80s</h3>

@if (_isLoading)
{
  <p>Loading movies...</p>
}
else
{
  <ul>
    @foreach (var movie in _movies)
    {
      <li>@movie.Title (@movie.Year)</li>
    }
  </ul>
}

@code {
  
  private IImmutableList<Movie> _movies = [];
  private bool _isLoading = false;
  private string? _errorMessage;

  protected override void OnInitialized()
  {
    SubscribeToState(state => state.Movies, _movies);
    SubscribeToState(state => state.IsLoading, _isLoading);
    SubscribeToState(state => state.Error, _errorMessage);
    Dispatch(new LoadMovies());
  }

}