@page "/rxstore"
@inject RxStore<AppState> Store

<h3>RxStore Example</h3>
<p>Counter: @state.Count</p>
<p>Message: @state.Message</p>
<button @onclick="IncrementCounter">Increment Counter</button>
<button @onclick="SetNewMessage">Set New Message</button>

@code {
  
  private AppState state;
  private IDisposable subscription;

  protected override void OnInitialized()
  {
    subscription = Store.State.Subscribe(s =>
    {
      state = s;
      InvokeAsync(StateHasChanged);
    });
  }

  private void IncrementCounter()
  {
    Store.Dispatch(new Increment());
  }

  private void SetNewMessage()
  {
    Store.Dispatch(new SetMessage("New message from Blazor!"));
  }

  public void Dispose()
  {
    subscription.Dispose();
  }
  
}