@page "/observable"
@implements IDisposable

<h3>Observable Example</h3>
<p>@message</p>

@code {

  private IDisposable subscription;
  private string message;

  /// <inheritdoc />
  protected override void OnInitialized()
  {
    var observable = Observable
      .Interval(TimeSpan.FromSeconds(1))
      .Select(x => $"Message {x}");

    subscription = observable.Subscribe(msg =>
    {
      message = msg;
      InvokeAsync(StateHasChanged);
    });
  }

  public void Dispose()
  {
    subscription.Dispose();
  }

}