@page "/message"
@inherits RxComponentBase<MessageState>

<h3>Message Example</h3>

<p>Message: @_message</p>
<button @onclick="SetMessage">Set New Message</button>

@code {

  private string _message;
  
  protected override void OnInitialized()
  {
    SubscribeToState(state => state.Message, _message);
  }

  private void SetMessage()
    => Dispatch(new SetMessage("New message from Blazor!"));

}