@page "/generator/component"
@inject ReducerGenerator Generator

<MudStack Class="mx-6">
  <MudText Typo="Typo.h4">Component Generator</MudText>
</MudStack>

<MudExObjectEditForm
  OnValidSubmit="@GenerateAsync"
  Value="@_opts">
</MudExObjectEditForm>

<div class="mx-6">
  <GeneratedCode Code="@GeneratedCode" />
</div>

@code {
  
  private readonly ReducerGeneratorOptions _opts = new();
  
  public string? GeneratedCode { get; private set; }

  private async Task GenerateAsync()
  {
    GeneratedCode = await Generator.GenerateCodeAsync(_opts);
  }
    
}