@page "/"
@inject IStore Store
@inject IRootStateSerializer RootStateSerializer

<PageTitle>R3dux</PageTitle>

<h2>About</h2>
<article>
  <p>Welcome to the R3dux state management library demo!</p>
  <p>Use the links above to navigate to the various examples.</p>
</article>

@if (_rootStateSerialized is not null)
{
  <h2>Serialized State</h2>
  <article>
    <JsonMarkup Data="@_rootStateSerialized" />
  </article>
}

@code
{
  private string? _rootStateSerialized;

  /// <inheritdoc />
  protected override void OnInitialized()
  {
    var rootState = Store.GetRootState();
    _rootStateSerialized = RootStateSerializer.Serialize(rootState);
  }
}
