@page "/movies"
@inherits R3duxComponent<MovieState>

<PageTitle>R3dux - Movies</PageTitle>
<hgroup>
  <p class="chapter">Example</p>
  <h1>Movies</h1>
  <p>
    Creates a simple movie example using the R3dux state management library for predictable state handling,
    featuring loading state and error handling for displaying movies.
  </p>
</hgroup>

@if (ErrorMessage != null)
{
  <p><strong>@ErrorMessage</strong></p>
}
else if (IsLoading)
{
  <p><strong>Loading movies...</strong></p>
}
else
{
  <h3>5 more recent movies</h3>
  <ul>
    @foreach (var movie in Movies)
    {
      <li>@movie.Title (@movie.Year)</li>
    }
  </ul>
}

<button @onclick="LoadMovies">Reload Movies</button>

@code {
  
  private IImmutableList<Movie> Movies
    => State.MoviesByYear;
  
  private bool IsLoading
    => State.IsLoading;
  
  private string? ErrorMessage
    => State.Error?.Message;

  protected override void OnAfterRender(bool firstRender)
  {
    if (firstRender)
    {
      Console.WriteLine("First render - loading movies...");
      Dispatch(new LoadMovies());
    }
  }
  
  private void LoadMovies()
    => Dispatch(new LoadMovies());

}