@page "/message"
@inherits DuckyComponent<MessageState>

<PageTitle>Ducky - Message</PageTitle>

<MudGrid>
  <MudItem xs="12">
    <MudStack>
      <MudText Typo="Typo.subtitle1">Example</MudText>
      <MudText Typo="Typo.h3">Message</MudText>
      <MudText Typo="Typo.body1">
        Creates a simple message example using the Ducky state management library for predictable state handling,<br/>
        featuring a button to set a new message.
      </MudText>
      <MudList T="string" Dense="true">
        <Goal Condition="() => State.Message.Length > 42" ConditionKey="message-exceeds-10">
          The message exceeds 42 characters.
        </Goal>
      </MudList>
    </MudStack>
  </MudItem>

  <MudItem xs="12">
    <MudButtonGroup Variant="Variant.Outlined">
      <MudButton OnClick="SetMessage">Set New Message</MudButton>
      <MudButton OnClick="AppendMessage">Append Message</MudButton>
      <MudButton OnClick="ClearMessage">Clear Message</MudButton>
    </MudButtonGroup>
  </MudItem>

  <MudItem xs="12">
    <MudSimpleTable>
      <tbody>
      <tr>
        <td style="width: 25%">Message</td>
        <td><b>@Message</b></td>
      </tr>
      <tr>
        <td>Character count</td>
        <td><b>@MessageLength</b></td>
      </tr>
      <tr>
        <td>Reverse</td>
        <td><b>@MessageInReverse</b></td>
      </tr>
      <tr>
        <td>Uppercase</td>
        <td><b>@MessageInUpperCase</b></td>
      </tr>
      </tbody>
    </MudSimpleTable>
  </MudItem>
</MudGrid>