@page "/timer"
@using AppStore
@inherits R3duxComponent<TimerState>

<PageTitle>R3dux - Timer</PageTitle>
<hgroup>
  <p class="chapter">Example</p>
  <h1>Timer</h1>
  <p>Creates an interactive timer using the R3dux state management library for predictable state handling, featuring start, stop, and reset functionality.</p>
</hgroup>

<article>
  Time: <strong>@Time</strong> seconds
  <footer>
    <div role="group">
      <button @onclick="ToggleTimer">@(IsRunning ? "Stop" : "Start")</button>
      <button @onclick="ResetTimer">Reset</button>
    </div>
  </footer>
</article>


@code {

  private int Time => State.Time;
  private bool IsRunning => State.IsRunning;
  
  protected override void OnAfterSubscribed()
  {
    if (IsRunning)
    {
      StartTimer();
    }
  }
  
  private void ToggleTimer()
  {
    if (IsRunning)
    {
      StopTimer();
    }
    else
    {
      StartTimer();
    }
  }

  private void ResetTimer()
  {
    Dispatch(new ResetTimer());
    StopTimer();
  }

  private void StartTimer()
  {
    Dispatch(new StartTimer());
  }

  private void StopTimer()
  {
    Dispatch(new StopTimer());
  }

}
