@page "/message"
@using AppStore
@inherits R3duxComponent<MessageState>

<PageTitle>R3dux - Message</PageTitle>
<hgroup>
  <p class="chapter">Example</p>
  <h1>Message</h1>
  <p>
    Creates a simple message example using the R3dux state management library for predictable state handling,
    featuring a button to set a new message.
  </p>
</hgroup>

<article>
  <p>Message: <strong>@State.Message</strong></p>
  <p>Character count: <strong>@State.SelectMessageLength()</strong></p>
  <p>Reverse: <strong>@State.SelectMessageInReverse()</strong></p>
  <footer>
    <button @onclick="SetMessage">Set New Message</button>
  </footer>
</article>

@code {

  private void SetMessage()
    => Dispatch(new SetMessage("New message from Blazor!"));

}