@inherits R3duxLayout<LayoutState>

@Body

<footer>
  <br />
  <hr />
  <p>@State.FullTitle</p>
  <button @onclick="ChangeTitle">Set Title</button>
</footer>

@* <div id="blazor-error-ui"> *@
@*   An unhandled error has occurred. *@
@*   <a href="" class="reload">Reload</a> *@
@*   <a class="dismiss">🗙</a> *@
@* </div> *@

@code {

  private void ChangeTitle()
    => Dispatch(new SetTitle("Hello, Blazor!"));

}