@inherits R3duxLayout<LayoutState>

<header>
  <NavLink href="message">Message</NavLink>
  &nbsp;-&nbsp;
  <NavLink href="counter">Counter</NavLink>
  &nbsp;-&nbsp;
  <NavLink href="todo">Todo</NavLink>
  &nbsp;-&nbsp;
  <NavLink href="timer">Timer</NavLink>
  &nbsp;-&nbsp;
  <NavLink href="movies">Movies</NavLink>
  <hr />
</header>

@Body

<footer>
  <br />
  <hr />
  <p>@State.SelectFullTitle()</p>
  <button @onclick="ChangeTitle">Set Title</button>
</footer>

@* <div id="blazor-error-ui"> *@
@*   An unhandled error has occurred. *@
@*   <a href="" class="reload">Reload</a> *@
@*   <a class="dismiss">🗙</a> *@
@* </div> *@

@code {

  private void ChangeTitle()
    => Dispatch(new SetTitle("Hello, Blazor!"));

}