@inject IJSRuntime Js

@if (!string.IsNullOrEmpty(Code))
{
  <MudText Typo="Typo.h5">
    Generated Code
  </MudText>
  
  <MudPaper>
    <pre class="language-cs" style="font-size: 0.75rem;">
      <code class="language-cs">@_highlightedCode</code>
    </pre>

    @* var bytes = Encoding.UTF8.GetBytes(Code); *@
    @* var base64 = Convert.ToBase64String(bytes); *@
    @* <a class="btn btn-success" href="data:text/plain;base64,@base64" download="@($"{opts.ClassName}.cs")"> *@
    @*   Download .cs *@
    @* </a> *@
  </MudPaper>
  
  <MudStack AlignItems="AlignItems.End">
    <MudButton
      Variant="Variant.Filled"
      Color="Color.Secondary"
      OnClick="CopyAsync"
      StartIcon="@Icons.Material.Filled.ContentCopy">
      Copy to Clipboard
    </MudButton>
  </MudStack>
}